@layer variables.base {
    body {
        --font-h2: "Signika", "Palatino Linotype", sans-serif;
        --font-h3: "Signika", "Palatino Linotype", sans-serif;
        --font-h4: "Signika", "Palatino Linotype", sans-serif;
        --font-h5: "Signika", "Palatino Linotype", sans-serif;
    }
}

@layer elements.typography {

    h3,
    h4 {
        font-weight: normal;
        border-bottom: 1px solid var(--color-border);
    }
}

.system-interstitial .item-controls .item-control.item-edit .system-interstitial .item-controls .item-control.item-delete {
    margin: 0 5%;
}

.system-interstitial form.character section {
    margin: 8px 0;
}

.system-interstitial .sheet.actor header {
    flex: none;
}

.system-interstitial .sheet.actor header img.profile-img {
    max-width: 150px;
    height: auto;
    margin-right: 1rem;
}

.system-interstitial .sheet.actor header input[name="name"] {
    height: var(--font-h1-size);
}

.system-interstitial .sheet.actor nav.sheet-tabs {
    flex: none;
}

.system-interstitial .sheet.actor .tab {
    height: 100%;
    align-items: normal;
}

.system-interstitial .sheet.actor .tab .editor.prosemirror {
    height: 85%;
}

.system-interstitial .sheet.actor .tab.links section.roll-modifiers,
.system-interstitial .sheet.actor .tab.links section.link-moves,
.system-interstitial .sheet.actor .tab.links_stats section.roll-modifiers,
.system-interstitial .sheet.actor .tab.links_stats section.link-moves {
    flex-grow: 0;
}

.system-interstitial .sheet.actor .stats-and-links {
    align-items: start;
}

.system-interstitial .sheet.actor .stat-column {
    border: 1px solid var(--color-border);
    border-radius: 3px;
    margin: 0 2px;
}

.system-interstitial .sheet.actor .stat-column .stat-button {
    background: var(--table-header-bg-color);
    border: 1px solid var(--color-border);
    border-radius: 3px;
    justify-content: center;
    margin: 5px 5px;
    max-height: 50px
}

.system-interstitial .sheet.actor .stat-column .stat-button .stat-img {
    flex-grow: unset;
    margin-right: 5px;
    border: none;
}

.system-interstitial .sheet.actor .stat-column .link-list {
    padding: 0 5px;
}

.system-interstitial .sheet.actor .stat-column .link-list li.link {
    align-content: center;
    flex-grow: 0;
}

.system-interstitial .sheet.actor .stat-column .link-list .link-img {
    flex-grow: unset;
    margin-right: 5px;

}

.system-interstitial .sheet.actor .stat-column .link-list li.link .link-container {
    min-height: 50px;
}

.system-interstitial .sheet.actor .stat-column .link-list li.link.spent {
    color: var(--color-text-subtle);
}

.system-interstitial .sheet.actor .stat-column .link-list li.link:not(.spent) a.spend-link {
    color: var(--color-text-accent);
}

.system-interstitial .sheet.actor .stat-column .link-list li.link i.link-strength {
    position: relative;
    left: 18px;
    top: -8px;
}

.system-interstitial .sheet.actor .stat-column .link-list li.new-link {
    margin-bottom: 5px;
}


.system-interstitial .sheet.actor .stat-column .link-list .item-controls {
    display: flex;
    justify-content: right;
}

.system-interstitial .sheet.actor .tab.moves {
    align-items: start;
}

.system-interstitial .sheet.actor .move-list li.move {
    align-content: center;
    flex-grow: 0;
}

.system-interstitial .sheet.actor .move-list .move-img {
    flex-grow: unset;
    margin-right: 5px;
    border: 1px solid var(--color-fieldset-border);
}

.system-interstitial .sheet.actor .move-list .move-roll-img {
    flex-grow: unset;
    position: relative;
    bottom: 22px;
    left: 36px;
    background: var(--table-header-bg-color);
    border: 1px solid var(--color-fieldset-border);
}

.system-interstitial .sheet.actor .move-list li.new-move {
    margin-bottom: 5px;
}

.system-interstitial .sheet.actor .move-list .item-controls {
    display: flex;
    justify-content: right;
}

.system-interstitial .sheet.actor .move-list li.move .move-container {
    min-height: 50px;
}

.system-interstitial .sheet.actor .move-list li.move h4.move-name {
    margin: 0;
    flex-grow: 0;
    font-size: 1.1em;
    border-bottom: 1px solid var(--color-border);
}

.system-interstitial .sheet.item header {
    flex: none;
}

.system-interstitial .sheet.move .move-desc {
    height: 80%;
}

.system-interstitial .sheet.move .move-desc .editor {
    height: 100% !important;
}

.system-interstitial .sheet.link .link-desc {
    height: 75%;
}

.system-interstitial .sheet.link .link-desc .editor {
    height: 100% !important;
}

.system-interstitial .chat-message .item-icon {
    flex-grow: 0;
    min-width: 40px;
    min-height: 40px;
    margin-right: 10px;
    background: var(--color-border-light-secondary);
}

.system-interstitial .chat-message .dice-result.success .dice-total {
    color: green;
}

.system-interstitial .chat-message .dice-result.fail .dice-total {
    color: red;
}

.system-interstitial .chat-message .dice-result.exploded .dice-total::after {
    display: inline-block;
    content: "";
    background-color: black;
    -webkit-mask-image: url('../assets/icons/game-icons/squib.svg');
    mask-image: url('../assets/icons/game-icons/squib.svg');
    width: var(--font-size-20);
    height: var(--font-size-20);
    background-size: var(--font-size-20) var(--font-size-20);
    position: relative;
    top: 4px;
    left: 6px;
}